#spider-all {
	margin-top: 20px;
}

.spider-item, .spider-company {
	background-color: #fff;
	padding: 12px 10px;
	margin-bottom: 13px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.05);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.05);
	box-shadow: 0 2px 4px rgba(0,0,0,.05);
	
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.spider-item-title a {
	font-weight: bold;

}

.spider-item-date, .spider-item-wage, .spider-item-company {
	color: #999;
	font-size: 11px;
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
}

.spider-item-company a {
	color: #999 !important;
}

.spider-item-description {
	display:block;
    overflow:hidden;
}

/* Search field */
#command {
	background: #fff;
	color: #222;
	width: 430px;
	height: 28px;
	margin-top: 20px;
	padding: 4px 6px 5px 6px;
	border: #bbb solid 1px;
	font-size: 18px;
	-moz-box-shadow:inset 1px 1px 2px #bababa;
	-webkit-box-shadow:inset 1px 1px 2px #bababa;
	box-shadow:inset 1px 1px 2px #bababa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}


/* Company Page */
.spider-company {
	margin-top: 20px;
}

.spider-company-title h2 {
	font-size: 25px;
}

.spider-company-logo {
	float: right;
	padding: 12px 10px 15px 20px;
}

h2.spider-jobs-list {
	margin-top: 40px;
	margin-bottom: 10px;	
}

/* Dumb fix <br /> codes in job descriptions */
br {
	display: none;
}
p.spider-widget {
	margin: 0;
}