#spider-all {
	margin-top: 20px;
}

.spider-item {
	background-color: #fff;
	padding: 12px 10px;
	margin-bottom: 13px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.05);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.05);
	box-shadow: 0 2px 4px rgba(0,0,0,.05);
	
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.spider-item-title a {
	font-weight: bold;

}

.spider-item-date {
	color: #999;
	font-size: 11px;
	display: inline;
	margin-right: 5px;
}

.spider-item-wage {
	color: #999;
	font-size: 11px;
	display: inline;	
	margin-left: 5px;
}

.spider-item-description {
	display:block;
    overflow:hidden;
}

// Dumb fix <br /> codes in job descriptions
br {
	display: none;
}
p.spider-widget {
	margin: 0;
}